.snackbar {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -120px;
  width: 200px;
  padding: 20px;
  text-align: center;
  margin-top: -100%;
  color: white;
  background: #ff6565;
  border-radius: 0 0 5px 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

.snackbar.active {
  margin-top: 0;
}